<!--Extender archivo base-->
{% extends 'base/base.html' %}

{% block title %} Productos {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="alert alert-info text-center mb-4">
        <h1>Productos ✅</h1>
    </div>

    {% if user.is_authenticated %}
    <!--botón para ir a registrar categoría-->
    <a href="{% url 'productoRegistro' %}" class="btn btn-primary btn-info"><i class="bi bi-plus-circle"></i></a>
        <table id="Tabla" class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>
                    {% if user.is_superuser %}
                        <th scope="col">Creado por</th>
                        <th scope="col">Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if productos %}
                    {% for pro in productos %}
                        {% if user.is_superuser or pro.user_id == user %}
                            <tr class="table-light">
                                <th scope="row">{{ pro.id }}</th>
                                <td>{{ pro.nombre }}</td>
                                <td>{{ pro.descripcion }}</td>
                                <td>{{ pro.precio }}</td>
                                <td>{{ pro.categoria_id.nombre }}</td>
                                {% if user.is_superuser %}
                                    <td>{{ pro.user_id.username }}</td>
                                    <td>
                                        <a href="{% url 'productoEditar' pro.id %}" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ pro.id }}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                {% endif %}
                            </tr>

                            <!-- Modal de confirmación eliminar productos https://youtu.be/A-bt0UU_4WE?si=NO1hXKLw6Offws1X -->
                            <div class="modal fade" id="modalEliminar{{ pro.id }}" tabindex="-1" aria-labelledby="modalEliminarLabel{{ pro.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="modalEliminarLabel{{ pro.id }}">Eliminar Producto</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de que desea eliminar el producto "{{ pro.nombre }}"?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="{% url 'productoEliminar' pro.id %}" class="btn btn-danger">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin modal -->
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No hay productos registrados</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-danger">Debes iniciar sesión para ver esta página.</p>
    {% endif %}
</div>
{% endblock %}