<!--extender baseLog.html-->
{% extends 'base/baseLog.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Bienvenido a Chuky PB!</h1>
        </div>
        <form class="user" method = "POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    id="id_username" name="{{ form.username.html_name }}"
                    autocomplete="username"
                    value="{{ form.username.value|default_if_none:'' }}"
                    placeholder="Indique su nombre de usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="id_password" name="{{ form.password.html_name }}" placeholder="Indique su contraseña!">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Iniciar Sesión!
            </button>
        </form>
        <div class="text-center">
            <a class="small" href="{% url 'signup' %}">Registrate!</a>
        </div>
    </div>
{% endblock %}













<!--
<div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="username" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                        </div>
                                        <a href="index.html" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </a>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
-->