//extender baseLog.html
{% extends 'base/baseLog.html' %}

{% block title %} Registro {% endblock %}   

{% block content %} 
    <!-- form antiguo
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Crea tu cuenta?</h1>
        </div>
        <form class="user">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                        placeholder="Elige un nombre de usuario!">
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                    placeholder="Indica tu correo electronico!">
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user"
                        id="exampleInputPassword" placeholder="Password">
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user"
                        id="exampleRepeatPassword" placeholder="Repeat Password">
                </div>
            </div>
            <a href="login.html" class="btn btn-primary btn-user btn-block">
                Registrate!
            </a>
        </form>
        <div class="text-center">
            <a class="small" href="{% url 'login' %}">Ya tienes una cuenta? Inicia Sesion!</a>
        </div>
    </div>-->

    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Crea tu cuenta</h1>
        </div>
        <form method="post" class="user" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control form-control-user" id="username"
                    name="username" placeholder="Elige un nombre de usuario" maxlength="150" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control form-control-user" id="email"
                    name="email" placeholder="Indica tu correo electrónico" required>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="password1"
                        name="password1" placeholder="Contraseña" required>
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="password2"
                        name="password2" placeholder="Repite tu contraseña" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Registrate
            </button>
        </form>
        <div class="text-center">
            <a class="small" href="{% url 'login' %}">Ya tienes una cuenta? Inicia Sesión!</a>
        </div>
        <!--botón para volver al index-->
        <div class="text-center">
            <a class="small" href="{% url 'home' %}">Volver a la página principal</a>
        </div>
    </div>
    

{% endblock %}